<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/static/css/base.css" />
    <!--link rel="stylesheet" type="text/css" href="/static/css/dashboard.css" /--> 
    <title>{% block title %}Glue{% endblock %}</title>
      <head>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    {% block script %}{% endblock %}
</head>

<body class="dashboard">
	<div id="container"> 
		<div id="header"> 
	        <div id="branding"> 
				<h1 id="site-name">Glue</h1> 
		    </div> 
	        
	        <div id="user-tools"> 
	            Welcome,
	            <strong>{{user.username}}</strong>.
	            <a href="/accounts/profile/">     
	                Profile</a> /
	                
	                
	            <a href="/accounts/logout/?next="/\""> 
	                Log out</a> 
	            
	        </div> 
	    </div> 
	
    <div id="sidebar">
        {% block sidebar %}
        <div id="navcontainer">
	        <ul id="menu" style="position: relative; ">
	            <li><a href="/glue/">Dashboard</a></li>
	            <li style="display:inline;list-style-type:circle"><a href="/glue/create_task/">Create task</a></li>
	            <li><a href="/glue/create_component/">Create component</a></li>
	            <li><a href="/glue/create_project/">Create project</a></li>
			</ul>
		</div>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

</div>
<!-- END Content --> 
</body>
</html>
