{% extends "base.html" %}

{% block script %}
<script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="dataTables.dataSourcePlugins.js"></script>
<script type="text/javascript" charset="utf-8">
	/* Create an array with the values of all the checkboxes in a column */
	$.fn.dataTableExt.afnSortData['dom-checkbox'] = function  ( oSettings, iColumn )
	{
		var aData = [];
		$( 'td:eq('+iColumn+') input', oSettings.oApi._fnGetTrNodes(oSettings) ).each( function () {
			aData.push( this.checked==true ? "1" : "0" );
		} );
		return aData;
	}

	$(document).ready(function() {
		$('#action_table').dataTable(
		{
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"aoColumns": [
				{ "sSortDataType": "dom-text" },
				{ "sSortDataType": "dom-text" },
				{ "sSortDataType": "dom-checkbox" },
				{ "sSortDataType": "dom-checkbox" },
				null,
				{ "sSortDataType": "dom-text" },
			]
	 	});
	});
</script>

<script type="text/javascript">
	function capitaliseFirstLetter(string)
	{
		return string.charAt(0).toUpperCase() + string.slice(1);
	}

	function nameToLabel(name)
	{
		var label = name.replace(/_/g, " ");
		label = capitaliseFirstLetter(label);	
		return label;
	}	

	function getParameterTable(fields, originalModelType, id)
	{
		modelType = capitaliseFirstLetter(originalModelType);
		header = '';
		body = '';
		$.each(['project', 'component', 'user'], function(index, exclude) { 
			if (exclude in fields)
				delete fields[exclude];
		});
		for (key in fields)
		{
			header += "<th>" + nameToLabel(key) + "</th>";
			body += '<td id="' + modelType + '_' + key + '">' + fields[key] + "</td>";
		}	
		table = '<table border="1" ><thead><tr>' + header + '</tr></thead>' +
			'<caption>' + modelType + ' Parameters</caption>' +
			'<tbody><tr>' + body + 
					'</tr></tbody></table>' +
					'<a href="/glue/create_' + originalModelType + '/?id=' + id +'&next=glue/show_task.html">edit</a>' +
					'<br/>';
		return table;
	}

	function getTask(task_id)
	{
		$.get("/glue/get_task/", {
			'task_id': task_id, 
			}, 
			function(data) {
		       		// format and output result
				eval("data=" + data);
				success = data['success'];
				if (success)
				{
					var html = '';
					$.each(['project', 'component', 'task'], function(index, modelType) { 
						var model_json = data[modelType];
						var model = jQuery.parseJSON(model_json)[0];
						var id = data[modelType + '_id'];
						var paramTable = getParameterTable(model.fields, modelType, id);
						html += paramTable + '';
					});
					
					$("#task_table").html(html);
					handleRequiredParameters();
				}
				else
				{
					alert("Error: Action did not complete successful.");
				}
			}
		);
	};

	function handleRequiredParameters()
	{
		{%for task_action in task_actions %}
			$("#missing_parameters{{task_action.id}}").html("");
		{% endfor %}
		{% for param, action_ids in actionsRequiringParameter.items %}
			
			var value = $('#{{param}}').html();
			//alert("Value: of {{param}}: '" + value + "'");
			if (value === "" || value === "null" || value === "None" || value === "false")
			{
				{% for action_id in action_ids %}
					//alert("Action {{action_id}} requires {{param}}");
					changeExecuteState({{action_id}}, false);
					html = $("#missing_parameters{{action_id}}").html();
					if (html !== '')
						html += ", ";
					html += '<pre><font color="red">' + nameToLabel("{{param}}") + '</font></pre>';
					$("#missing_parameters{{action_id}}").html(html);
				{% endfor %}
			}
		{% endfor %}
		{%for task_action in task_actions %}
			var missing_parameters = $("#missing_parameters{{task_action.id}}").html();
			var enabled = $("#enabledCheckbox{{task_action.id}}").attr("checked");
			var finished = $("#finishedCheckbox{{task_action.id}}").attr("checked");
			var isParameterMissing = missing_parameters !== "";
			changeExecuteState({{task_action.id}}, enabled && !finished && !isParameterMissing);
		{% endfor %}

	}

	$(document).ready(function(){
				
		getTask({{task.id}});

		// for execute links prevent, that they actually connect
		// to the href. We only want the onclick code to be executed.
		{% for task_action in task_actions %}
			$("#execute" + {{task_action.id}}).click(function(event){
				event.preventDefault();		
   			});
			$("#finishedCheckbox" + {{task_action.id}}).click(function(event){
				event.preventDefault();		
   			});
			jQuery("execute{{task_action.id}}").click(function() { var that = jQuery(this).busy(); setTimeout(function() { that.busy("hide"); }, 2000); }); 
			
		{% endfor %}



		$("#executeAll").click(function(event){
			event.preventDefault();		
		});
		

		// Need to update the tasks, to disable/enable the checkboxes and
		// buttons.
		{% for task_action in task_actions %}
			updateActionState({{task_action.id}});
		{% endfor %}
		
	});


	function changeExecuteState(task_action_id, enabled)
	{
		executeName = "#execute" + task_action_id;
		if(enabled)
			$(executeName).removeAttr('disabled');
		else
			$(executeName).attr('disabled', 'disabled');
			

	};
	
	function changeFinishedState(task_action_id, enabled)
	{
		executeName = "#finishedCheckbox" + task_action_id;
		if(enabled)
			$(executeName).removeAttr('disabled');
		else
			$(executeName).attr('disabled', 'disabled');
			

	};

	function updateActionState(task_action_id)
	{
		enabledName = "#enabledCheckbox" + task_action_id;
		finishedName = "#finishedCheckbox" + task_action_id;
		executeName = "#execute" + task_action_id;
		enabled = $(enabledName).attr("checked");
		finished = $(finishedName).attr("checked");
		$.get("/glue/update_task_action", {
			'task_action_id': task_action_id, 
			'enabled': enabled, 
			'finished': finished
			}, 
			function(text) {
		       		// format and output result
				eval("data=" + text);
				success = data['success'];
				if (success)
				{
					$(finishedName).attr("checked", finished);
					changeExecuteState(task_action_id, (!finished) && enabled);
					//changeFinishedState(task_action_id, finished);
					handleRequiredParameters();
				}
				else
				{
					alert("Error: Change could not be saved, refreshing");
					// refresh
				} 
			}
		);
	};



	function execute(task_action_id)
	{
		$.get("/glue/do_action/", {
			'task_action_id': task_action_id, 
			}, 
			function(data) {
		       		// format and output result
				eval("data=" + data);
				success = data['success'];
				if (success)
				{
					finishedName = "#finishedCheckbox" + task_action_id;
					$(finishedName).attr("checked", true);
					changeExecuteState(task_action_id, false);
					getTask({{task.id}});
				}
				else
				{
					alert("Error: Action did not complete successful.");
				}
				 
			}
		);
		
	};
</script>
{% endblock %}

{% block content %}

<h1>Task</h1>
<div id="task_table">
	task_table
</div>
<button onClick=getTask({{task.id}})>refresh</button>
<br/>
<br/>
<table id="action_table" width="1000">
	<thead>
		<tr>
			<th> Action </th>
			<th> Description </th>
			<th> Enabled? </th>
			<th> Finished? </th>
			<th> </th>
			<th> Missing parameters </th>
	</thead>
	
   {% for task_action in task_actions %}
	<div id="action{{task_action.id}}">
		<tr width="1000">
			<td>{{task_action.action.name}}</td>
			<td>{{task_action.action.description}}</td>
			<td>
				<input type="checkbox" 
					id="enabledCheckbox{{task_action.id}}"
				{% if task_action.enabled %}
				checked="checked"
				{% endif %} id="enabled" 
				onclick="updateActionState({{task_action.id}});"
				/> 
			</td>

			<td><input type="checkbox" 
				id="finishedCheckbox{{task_action.id}}"
			{% if task_action.finished%}
			checked="checked"
			{% endif %}
			onclick="updateActionState({{task_action.id}});"
			/> </td>
			<td>
				<button onclick="execute({{task_action.id}});" id="execute{{task_action.id}}"> execute </button>
			</td>
			<td style="color: red;" id="missing_parameters{{task_action.id}}">
			</td>
		</tr>
	</div>
  {% endfor %}
</table>

{% endblock %}

