{% extends "base.html" %}

{% block script %}
<link rel="stylesheet" href="/static/css/datatable.css" />
<script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/dataTables.dataSourcePlugins.js"></script>
<script type="text/javascript" charset="utf-8">
	/* Create an array with the values of all the checkboxes in a column */
	$.fn.dataTableExt.afnSortData['dom-checkbox'] = function  ( oSettings, iColumn )
	{
		var aData = [];
		$( 'td:eq('+iColumn+') input', oSettings.oApi._fnGetTrNodes(oSettings) ).each( function () {
			aData.push( this.checked==true ? "1" : "0" );
		} );
		return aData;
	}

	/**
	 * Returns the string, with the first letter uppercase
   * @string The string
	 */
	function capitaliseFirstLetter(string)
	{
		return string.charAt(0).toUpperCase() + string.slice(1);
	}

	/**
	 * Replaces a variable name, to a nicer display name, like ist_name -> Ist name
   * @name The variable name
	 */
	function nameToLabel(name)
	{
		var label = name.replace(/_/g, " ");
		label = capitaliseFirstLetter(label);	
		return label;
	}	

  /**
   * Creates an html table from fields (key-value pairs).
   * The keys become the header column values and the values
   * are represented in one row. The title of the table is 
   * made from the originalModelType value. The table can be edited via
   * a link to the model instance, specified by the (originalModelType,id)
   * pair.
   * @param fields The key-value pairs to display.
   * @param originalModelType The django model type (but lower case), 
   * for example task, component or project.
   * @param id The id of the model instance.
   */
	function getParameterTable(fields, originalModelType, id)
	{
		var modelType = capitaliseFirstLetter(originalModelType);
		var header = '';
		var body = '';
    var undefined_parameters = '';
		$.each(['project', 'component', 'user'], function(index, exclude) { 
			if (exclude in fields)
				delete fields[exclude];
		});
		for (key in fields)
		{
      if (isParameterValid(fields[key]))
      {
			  header += "<th>" + nameToLabel(key) + "</th>";
			  body += '<td id="' + modelType + '_' + key + '">' + fields[key] + '</td>';
      }
      else
      {
        if (undefined_parameters !== "")
        {
          undefined_parameters += ', '; 
        }
        undefined_parameters += key; 
      }
		}	
    if (undefined_parameters !== "")
    {
			  header += "<th>Undefined parameters</th>";
			  body += '<td><font color="red">' + undefined_parameters + "</font></td>";
    }
		table = '<table border="1" ><thead><tr>' + header + '</tr></thead>' +
			'<caption align="left">' + modelType + ' Parameters <a href="/glue/create_' + originalModelType + '/?id=' + id +'&next=/glue/task/{{task.id}}/">edit</a>' +'</caption>' +
			'<tbody><tr>' + body + 
					'</tr></tbody></table>' +
					'<br/>';
		return table;
	}

  /**
   * Gets all parameters of the django models related to the task from the server
   * and updates the parameters table. Then it updates the actions regarding
   * required parameters.
   * @param task_id The id of the task.
   */ 
	function updateParameters(task_id)
	{
		$.get("/glue/get_task/", {
			'task_id': task_id, 
			}, 
			function(data) {
		       		// format and output result
				eval("data=" + data);
				success = data['success'];
				if (success)
				{
					var html = '';
					$.each(['project', 'component', 'task'], function(index, modelType) { 
						var model_json = data[modelType];
						var model = jQuery.parseJSON(model_json)[0];
						var id = data[modelType + '_id'];
						var paramTable = getParameterTable(model.fields, modelType, id);
						html += paramTable + '';
					});
					
					$("#parameters").html(html);
					handleRequiredParameters();
				}
				else
				{
					alert("Error: Action did not complete successful.");
				}
			}
		);
	};


  function isParameterValid(value)
  {
    return !(value === "" || value == null || value == "None");
  }

  /**
   * Checks if the required parameters of the actions are
   * available and enables/disables the action accordingly.
   * Missing parameters are shown in a column in the row of
   * the action.
   */
	function handleRequiredParameters()
	{
		{%for task_action in task_actions %}
			$("#missing_parameters{{task_action.id}}").html("");
		{% endfor %}
		{% for param, action_ids in actionsRequiringParameter.items %}
			
			var value = $('#{{param}}').html();
			//alert("Value: of {{param}}: '" + value + "'");
			if (!isParameterValid(value) || value === "false")
			{
				{% for action_id in action_ids %}
					//alert("Action {{action_id}} requires {{param}}");
					changeExecuteState({{action_id}}, false);
					html = $("#missing_parameters{{action_id}}").html();
					if (html !== '')
						html += ", ";
					//html += '<pre><font color="red">' + nameToLabel("{{param}}") + '</font></pre>';
					html += nameToLabel("{{param}}");
					$("#missing_parameters{{action_id}}").html(html);
				{% endfor %}
			}
		{% endfor %}
		{%for task_action in task_actions %}
			var missing_parameters = $("#missing_parameters{{task_action.id}}").html();
			var enabled = $("#enabledCheckbox{{task_action.id}}").attr("checked");
			var finished = $("#finishedCheckbox{{task_action.id}}").attr("checked");
			var isParameterMissing = missing_parameters !== "";
			changeExecuteState({{task_action.id}}, enabled && !finished && !isParameterMissing);
		{% endfor %}

	}

  /**
   * This jquery callback is executed on startup of the page.
   */
	$(document).ready(function(){

    /* Sets the properties of the action table*/
		$('#action_table').dataTable(
		{
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"aoColumns": [
				{ "sSortDataType": "dom-text" },
				{ "sSortDataType": "dom-text" },
				{ "sSortDataType": "dom-checkbox" },
				{ "sSortDataType": "dom-checkbox" },
				null,
        null
			]
	 	});
			
    // shows all parameters of the task and related models	
		updateParameters({{task.id}});

		// for execute links prevent, that they actually connect
		// to the href. We only want the onclick code to be executed.
		{% for task_action in task_actions %}
			$("#execute" + {{task_action.id}}).click(function(event){
				event.preventDefault();		
   			});
			$("#finishedCheckbox" + {{task_action.id}}).click(function(event){
				event.preventDefault();		
   			});
			jQuery("execute{{task_action.id}}").click(function() { var that = jQuery(this).busy(); setTimeout(function() { that.busy("hide"); }, 2000); }); 
			
		{% endfor %}



		$("#executeAll").click(function(event){
			event.preventDefault();		
		});
		

		// Need to update the tasks, to disable/enable the checkboxes and
		// buttons.
		//handleRequiredParameters();
		
	});


	function changeExecuteState(task_action_id, enabled)
	{
		executeName = "#execute" + task_action_id;
		if(enabled)
			$(executeName).removeAttr('disabled');
		else
			$(executeName).attr('disabled', 'disabled');
			

	};
	
	function changeFinishedState(task_action_id, enabled)
	{
		executeName = "#finishedCheckbox" + task_action_id;
		if(enabled)
			$(executeName).removeAttr('disabled');
		else
			$(executeName).attr('disabled', 'disabled');
			

	};


	function updateActionState(task_action_id)
	{
		enabledName = "#enabledCheckbox" + task_action_id;
		finishedName = "#finishedCheckbox" + task_action_id;
		executeName = "#execute" + task_action_id;
		enabled = $(enabledName).attr("checked");
		finished = $(finishedName).attr("checked");
		$.get("/glue/update_task_action", {
			'task_action_id': task_action_id, 
			'enabled': enabled, 
			'finished': finished
			}, 
			function(text) {
		       		// format and output result
				eval("data=" + text);
				success = data['success'];
				if (success)
				{
					$(finishedName).attr("checked", finished);
					changeExecuteState(task_action_id, (!finished) && enabled);
				}
				else
				{
					alert("Error: Could not update the server with the change.");
				} 
			}
		);
	};



	function execute(task_action_id)
	{
		$.get("/glue/do_action/", {
			'task_action_id': task_action_id, 
			}, 
			function(data) {
		       		// format and output result
				eval("data=" + data);
				success = data['success'];
				if (success)
				{
					finishedName = "#finishedCheckbox" + task_action_id;
					$(finishedName).attr("checked", true);
					changeExecuteState(task_action_id, false);
					updateParameters({{task.id}});
				}
				else
				{
					alert("Error: Action did not complete successful.");
				}
				 
			}
		);
		
	};
</script>
{% endblock %}

{% block content %}

<h1>Task</h1>
<div id="parameters">
	Parameters
</div>
<button onClick=updateParameters({{task.id}})>refresh</button>
<br/>
<br/>
<table id="action_table" width="1000">
	<thead>
		<tr>
			<th> Action </th>
			<th> Description </th>
			<th> Enabled? </th>
			<th> Finished? </th>
			<th> Execute</th>
			<th> Missing parameters </th>
	</thead>
	
   {% for task_action in task_actions %}
	<div id="action{{task_action.id}}">
		<tr width="1000">
			<td>{{task_action.action.name}}</td>
			<td>{{task_action.action.description}}</td>
			<td>
				<input type="checkbox" 
					id="enabledCheckbox{{task_action.id}}"
				{% if task_action.enabled %}
				checked="checked"
				{% endif %} id="enabled" 
				onclick="updateActionState({{task_action.id}});"
				/> 
			</td>

			<td><input type="checkbox" 
				id="finishedCheckbox{{task_action.id}}"
			{% if task_action.finished%}
			checked="checked"
			{% endif %}
			onclick="updateActionState({{task_action.id}});"
			/> </td>
			<td>
				<button onclick="execute({{task_action.id}});" id="execute{{task_action.id}}"> execute </button>
			</td>
			<td style="color: red;" id="missing_parameters{{task_action.id}}">
			</td>
		</tr>
	</div>
  {% endfor %}
</table>

{% endblock %}

