{% extends "base.html" %}


{% block content %}
<h1>Task actions</h1>


<table>
	<thead>
		<tr>
			<th> Action </th>
			<th> Description </th>
			<th> Enabled? </th>
			<th> Finished? </th>
		
	</thead>
	
   {% for task_action in task_actions %}
	<tr>
		<td>{{task_action.action.name}}</td>
		<td>{{task_action.action.description}}</td>
		<td><input type="checkbox" 
		{% if task_action.enabled %}
		checked="checked"
		{% endif %} id="enabled" onClick="toggleEnabled({{task_action.id}})" DISABLED/> </td>

	<td><input type="checkbox" 
	{% if task_action.finished%}
	checked="checked"
	{% endif %} id="enabled" DISABLED/> </td>
	</tr>
  {% endfor %}
</table>
<a href={{next_step}}>next</a>
{% endblock %}
