{% extends "base.html" %}

{% block script %}

<script type="text/javascript" language="javascript" src="/static/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8">
  /**
   * This jquery callback is executed on startup of the page.
   */
	$(document).ready(function(){

{% for group, tasks in task_groups.items %}
    /* Sets the properties of the action table*/
		$("#{{group}}_table").dataTable(
		{
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false
	 	});
{% endfor %}
  });
</script>

{% endblock %}

{% block content %}
<h1>Dashboard</h1>

{% for group, tasks in task_groups.items %}

	<h2>{{group}}</h2>

	{% if tasks %}
	    <table id="{{group}}_table">
		<thead>
			<tr>
				<th>Task</th>
				<th>Component</th>
				<th>Project</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
			<tr>
				<td><a href="/glue/show_model/task/{{ task.id }}">{{ task.description }}</a></td>
				<td><a href="/glue/show_model/component/{{ task.component.id }}">{{ task.component.ist_name }} - {{ task.component.ist_version }}</a></td>
				<td><a href="/glue/create_component/?id={{ task.component.id }}">{{ task.component.ist_name }} - {{ task.component.ist_version }}</a></td>
				<td><a href="/glue/create_project/?id={{ task.component.project.id }}">{{ task.component.project.name }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	    </table>
	{% else %}
	    <p>No tasks.</p>
	{% endif %}
{% endfor %}
{% endblock %}

