{% extends "base.html" %}

{% block content %}
<h1>Dashboard</h1>

{% for group, tasks in task_groups.items %}

	<h2>{{group}}</h2>

	{% if tasks %}
	    <table>
		<thead>
			<tr>
				<th>Task</th>
				<th>Component</th>
				<th>Project</th>
			</tr>
		</thead>
		<tbody>
			{% for task in tasks %}
			<tr>
				<td><a href="/glue/task/{{ task.id }}">{{ task.description }}</a></td>
				<td><a href="/glue/create_component/?id={{ task.component.id }}">{{ task.component.ist_name }}</a></td>
				<td><a href="/glue/create_project/?id={{ task.component.project.id }}">{{ task.component.project.name }}</a></td>
			</tr>
			{% endfor %}
		</tbody>
	    </table>
	{% else %}
	    <p>No tasks.</p>
	{% endif %}
{% endfor %}
{% endblock %}

